@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: "Poppins", system-ui;
}

body {
    background-image: url(../imagens/background.jpg);
    background-size: cover;
    background-attachment: fixed;
    /* deixa a imagem fixa e o texto pode rodar */
}

/* ----------------------- CABEÇALHO ----------------------- */

header {
    background-color: #b6000fd2;
    background-size:cover;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 100%;
    height: 30vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    box-shadow: 0 2px 1px rgb(131, 128, 128);
}

.texto-principal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 50%;
    height: 100%;
    text-transform: uppercase;
    font-size: 2rem;
    word-spacing: 20px;
    color: #ffffff;
}
.texto-principal h1 {
    letter-spacing: 20px;
}

.texto-principal img {
    width: 500px;
    height: auto;

}

#pesquisar {
    width: 70%;
    height: 30%;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
    margin-top: 20px;
    border-radius: 6px;
}

#pesquisar input {
    background-color: white;
    color: rgb(15, 25, 35);
    height: 50%;
    width: 50%;
    border-radius: 5px;
    margin-bottom: 20px;
    cursor: pointer;
}

#pesquisar button {
    border: none;
    width: 150px;
    height: 60%;
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 1.1rem;
    background-color: rgb(15, 25, 35);
    color: white;
}

#pesquisar button:hover {
    background-color: #fff;
    color: #FF4655;
    cursor: pointer;
}

/* ----------------------- ESTILO CONTEUDO PRINCIPAL ----------------------- */

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 35px;
    z-index: -1000;
}

#conteudo {
    margin: 5px;
    width: 70%;
    height: 300px;
    border-radius: 7px;
    padding: 25px;
    color: #fff;
    margin-bottom: 20px;
    border: 3px solid rgb(255, 255, 255);
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    background-color: #b6000fab;

}

.personagem {
    width: 90%;
    height: 250px;
    position: absolute;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

.nome-personagem {
    font-size: 2rem;
    padding-bottom: 10px;
    text-transform: uppercase;
}

.descricao-personagem {
    background-color: transparent;
    border: 1px solid white;
    color: #fff;
    font-weight: 400;
    border-radius: 5px;
    padding: 15px;
}

.informacoes {
    margin-top: 15px;
    background-color: rgb(15, 25, 35);
    border-radius: 5px;
    width: 200px;
    height: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px;
}

.informacoes a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-weight: bolder;
    padding: 7px;
}

.informacoes:hover,
.informacoes a:hover {
    background-color: white;
    color: #FF4655;
    cursor: pointer;
}

/* ----------------------- RODAPÉ ----------------------- */

footer {
    background-color: #b6000fd2;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    position: absolute;
    bottom: 0;
}

span {
    background-color: #b6000fab;
    color: #fff;;;
    width: 20%;
    height: 60px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-weight: bolder;

}
